@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates|Nunito');
@import url(http://fonts.googleapis.com/css?family=Merriweather:300,400,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,700);
@import "font-awesome";

#menu-item-2:hover .login-block {
	display: block !important;
}

html, body {
	width: 100%;
	min-height: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html, body, header, footer, main, select, aside, nav, article, div,
h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, hr,
a, address, del, em, sub, figure, figcaption, img,
form, fieldset, legend, label, input, select, textarea, button,
table, thead, tbody, tfoot, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    /*background: none;*/
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}



html, body,  header, footer, select, main, aside, nav, article, div,
h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, hr, blockqoute, figure, figcaption, address,
form, fieldset, legend, label, input, select, textarea {
    display: block;
}
input, textarea{
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
input, select, textarea {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
html, body {
	-webkit-text-size-adjust: none;	
	width: 100%;
	overflow-x: hidden;
}
body.boxed {
	max-width: 1250px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.2);
}
body.boxed .sticky-menu.scrolling {
	left: auto !important;
}
dl, dt, dd, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, button {
	cursor: pointer;	
}


/**/
/* defaults */
/**/
body {
    font-family: 'Montserrat Alternates', sans-serif;
	color: #595959;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	background-color: #ffffff;
}
h1, h2, h3, h4 h5, h6{
	color: #2b2727;
	clear: both;
	font-weight: 400;
	margin: 0px 12px;
}
.page-content h1:first-child,.page-content h2:first-child,.page-content h3:first-child,.page-content h4:first-child,.page-content h5:first-child,.page-content h6:first-child{
	margin-top: 0;
}
h1 {
    font-family: Nunito,sans-serif;
	font-size: 32px;
	line-height: 1;
}
h2 {
    margin: 20px 12px;
    font-size: 28px;
    line-height: 1.4;
}
#home h2 {
	margin-bottom: 30px;
}
h2 .specification {
	font-size: 18px;
	color: #b0b0b0;
}
/*h3 {
	font-size: 20px;
	line-height: 1.4;
}*/
h4 {
	font-size: 16px;
	line-height: 1.4;
}
h5 {
    font-size: 20px;
    line-height: 1.4;
}
h6 {
	line-height: 1.4;
	font-size: 15px;
	color: #333333;
	font-family: Nunito, sans-serif;
}


.font-style-1 {
    font-family: Nunito,sans-serif;
	font-weight: 300;
	font-size: 30px;
	line-height: 1;
	color: #ffffff;
	margin-bottom: 35px;
}
p {
	line-height: 25px;
	margin-bottom: 10px;
}
p:last-child{
	margin-bottom: 0;
}
sup {
	font-size: 0.7em;
}
strong {
	color: #333333;
	font-weight: 500;
}
hr {
	height: 1px;
	background-color: #f2f2f2;
}
p + hr {
	margin: 20px 0;
}
.padding-section {
	padding: 15px 0 80px 0;
}
hr + section {
	padding-top: 15px;
    padding-bottom: 15px;
}

hr.corect-margin {
	margin-top: 10px;
}
hr.divider-color, hr.divider-big {
	height: 3px;
}
hr.divider-color:before{
	content: '';
	display: block;
	height: 100%;
	background-color: #ffc25d;
	width: 45px;
	border-left: 45px solid #f27c66;
	border-right: 45px solid #18bb7c;
	margin: 0px auto;
}


/**/
/* frm_search */
/**/

.frm_search {
	margin: 0 auto;
	padding: 15px;
	width: 700px;
	display: block;
}
.container_search {
	padding-top: 25px;
	padding-bottom: 25px
}
.icon {
	margin-left: 300px;
}

.frm_search h3 {
	margin: 0;
	font-size: 16px;
	color: #2d3339;
	font-family: Montserrat Alternates, sans-serif;
}

.input_search {
	margin-top: 7px;
	margin-left: 10px;
}

/**/
/* Login */
/**/

.login-block {
	margin: 0;
	width: 280px;
	background: #ffffff;
	padding: 0px 25px 15px 25px;
	position: absolute;
	top: 60px;
	display: none;
	border-left: 1px solid #ececec;
	border-right: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
}
.login-block .logo {
	display: block;
	margin:  0px auto;
	text-align: center;
}
.login-block .logo img{
	margin: 0 auto;
}
.login-block .logo h2 {
	display: inline-block;
	color: #5f5f5f;
	clear: none;
	margin: 0;
}
.half-button {
	display: inline-block;
	float: left;
	box-sizing: border-box;
	width: calc(50% - 6px);
	min-width: 100px;
}
.half-button + .half-button {
	margin-left: 13px;
	clear: right;
}
.clear-both {
	display: block;
	clear: both;
}
hr {
	border-top: 1px solid #bfbfbf;
}
.login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.span-or {
    display: block;
    
    left: 50%;
    top: 2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}
.login-block .form-group {
	position: relative;
}
.login-block .form-group + .form-group {
	margin-top: 15px;
}
.login-block .form-group input {
	line-height: 44px;
	height: 44px;
}
.login-block .form-group .input-icon {
	position: absolute ;
    right: 1px;
    top: 10px;
    width: 38px;
    height: 24px;
    text-align: right;
    border-left: 1px solid #ececec;
    color: #ccc;
    font-size: 18px;
    line-height: 24px;
    text-shadow: none;
}
.login-block .form-group .input-icon i {
	color: #ccc;
    font-size: 18px;
    line-height: 24px;
    width: 38px;
}
.login-block .small {
	font-size: 12px;
	margin-bottom: 20px;
}
.login-block .small a {
	color: #b0b1b0;
	text-decoration: none;
}

.login-block .form-group + .button-fullwidth {
	margin-top: 40px;
}
.login-block .button-fullwidth {
	width: 100%;
}
.login-block .button-fullwidth +  .button-fullwidth {
	margin-top: 10px;
}

.intro .small button {
	color: #b0b0b0;
	text-decoration: none;
}

button{
    color: #333333;
    background:none;
}
.button_reset {
	margin-left: 160px;
}

.button_search {
	margin-left: 20px;
}

.button_report {
	margin-left: 80px;
	margin-top: 10px;
}
.button_news {
	margin-left: 60px;
	margin-top: 22px;
}
 .background { 
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 70%; /* Safari 3.1+ и Chrome 4.0+ */
    background-size: 70%; /* Современные браузеры */
	height: 300px; /* Высота блока */
 }
.intro {
	font: #000000;
	font-weight: 500;
	width: 100%;
	position: relative;
	background: url(../img/back.jpg) no-repeat top center ;
	background-size: cover;
	height: auto;
}

input:focus {
  border-color: #311c24
}

hr + hr {
	margin-top: 20px;
}

a {
	text-decoration: none;
	color: inherit;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	transition:all 0.3s;
}
p a {
	color: #f27c66;
	text-decoration: underline;
}
p a:hover {
	text-decoration: none;
}
ul, ol {
	list-style: none;
	margin: 0 0 10px 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #333333;
}
ol {
	list-style-type: decimal;
	padding-left: 20px;
}
ul li, ol li {
	line-height: 2.6;
	padding-left: 20px;
	position: relative;
}
ol li {
	padding-left: 0;
	color: #f27c66;
	font-weight: 500;
}
ol li span {
	color: #333333;
	font-weight: 400;
}
li>ul {
	margin-bottom: 0;
}
ul li:before {
    content: "\f111";
    font-family: FontAwesome;
    font-size: 8px;
    position: absolute;
    left: 0px;
    color: #f27c66;
    font-weight: 800;
    line-height: 35px;
}
ul.check-list li:before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: inherit;
}
.line-h-10 {
	line-height: 10px;
}
ul.minus-list li:before {
    content: "\f068";
    font-family: FontAwesome;
    font-size: inherit;
}
dl {
	margin-bottom: 20px;
}
dt, dd {
	font-size: 14px;
	line-height: 36px;
}
dt {
    color: #ffc25d;
    float: left;
    margin-right: 5px;
}
dd {
	color: #333333;
}

q {
	display: block;
    font-style: italic;
    color: #333333;
    margin-top: 12px;
    padding-bottom: 5px;
}
q b {
	font-size: 18px;
	color: #f27c66;
	font-style: normal;
	text-transform: none;
	font-family: 'Raleway';
	font-weight: 500;
}
q:before,
q:after{
	content: "\201c";
	font-style: normal;
	font-size: 80px;
	top: 7px;
	margin-right: 3px;
	line-height: 0px;
	font-family: "Arial";
	color: #f27c66; 
	display: inline-block;
	vertical-align: bottom;
	position: relative;
}
q:before {
	margin-left: -30px;
}
.quotes-carousel q:before {
	margin-left: 0px;
}
.quotes-carousel q {
	padding-left: 0;
} 
q:after {
	content: "\201D";
	top: 16px;
	font-style: normal;
	margin-left: 10px;
}

.page-content {
	padding: 10px 0;
}

.border {
	border: 1px solid #e1e1e1;
	padding: 4px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


/**/
/* clearfix */
/**/
.clear-fix:after{
	content: '';
	display: table;
	clear: both;
}

/**/
/* grid */
/**/
.grid-row,
.container {
	width: 1170px;
	margin: 0 auto;
}
.container .grid-row {
	width: 100%;
}
.grid-col {
	float: left;
	margin-left: 25px;
}
.grid-col-row {
	margin-left: -20px;
}
.grid-col-3 {
	width: 350px;
}
.grid-col-4 {
	width: 370px;
}
.grid-col-6 {
	width: 900px;
}
.grid-col-9 {
	width: 750px;
}

.grid-buttons a:last-child{
	margin-bottom: 0;
}
@media screen and (max-width: 1200px) { /* laptop */
	.grid-row,
	.container {
		width: 940px;
	}
	.grid-col {
		margin-left: 20px;
	}
	.grid-col-row {
		margin-left: -20px;
	}
	.grid-col-3 {
		width: 220px;
	}
	.grid-col-4 {
		width: 300px;
	}
	.grid-col-6 {
		width: 780px;
	}
	.grid-col-9 {
		width: 700px;
	}
}
@media screen and (max-width: 980px) { /* pad */
	.grid-row,
	.container{
		width: 738px;
	}
	.grid-col {
		margin-left: 18px;
	}
	.grid-col-row {
		margin-left: -18px;
	}
	.grid-col-3 {
		width: 171px;
	}
	.grid-col-4 {
		width: 234px;
	}
	.grid-col-6 {
		width: 560px;
	}


}
@media screen and (max-width: 767px) { /* phone */
	.grid-row,
	.container{
		width: auto;
		margin: 0 20px;
	}
	.grid-col-row {
		margin-left: -10px;
    	margin-right: -10px;
	}
	
	.grid-col.grid-col-3.alt {
		float: left;
		width: calc(50% - 20px);
		margin-left: 10px;
		margin-right: 10px;
		margin: 20px 10px 20px 10px;
	}
	.grid-col,.grid-col.grid-col-3.sidebar {
		float: none;
		width: 100%;
		margin: 0 0 40px 0;
	}
	.grid-col-row .grid-col {
		width: calc(100% - 20px);
		margin-left: 10px;
		margin-right: 10px;
	}
	.grid-col.grid-col-4,
	.grid-col.grid-col-6,
	.grid-col.grid-col-3{
		float: left;
		width: calc(50% - 20px);
		margin-right: 10px;
		margin-left: 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	section.grid-col.grid-col-4 {
		margin-bottom: 0;
	}
	.grid-col.grid-col-4:nth-child(2n+1),
	.grid-col.grid-col-6:nth-child(2n+1),
	.grid-col.grid-col-3:nth-child(2n+1){
		clear: left;
	}
	.sidebar + .grid-col.grid-col-6 {
		float: none;
		width: 100%;
		margin: 0 0 40px 0;
	}
	section.grid-col {
		margin: 0;
	}
	footer h2 {
		margin-top: 0 !important;
	}
	.grid-col:last-child {
		margin-bottom: 0;
	}
}
@media screen and (max-width: 479px){
	.grid-col.grid-col-4,
	.grid-col.grid-col-6,
	.grid-col.grid-col-3 {
		float: none;
		width: 100%;
		margin: 0 0 40px 0;
	}
	.grid-col-row {
		margin-left: 0;
		margin-right: 0;
	}
}

/**/
/* offer banners */
/**/
.banner-offer {
    padding: 10px 15px 10px 15px;
    display: table;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: url(../img/parallax_pattern-1.png) repeat;
    background-size: contain;
    border-radius:20px 20px 20px 20px;
}

    .banner-offer.bg-color-1 {
        background-color: #f27c66 !important;
    }


    .banner-offer > * {
        display: table-cell;
        vertical-align: middle;
        color: #ffffff;
    }

    .banner-offer .banner-icon i {
        color: #18bb7c;
        font-size: 45px;
        line-height: 65px;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        text-align: center;
        background-color: #ffffff;
    }

    .banner-offer.bg-color-1 .banner-icon i {
        color: #f27c66;
    }
    .banner-offer.bg-color-4 .banner-icon i {
        color: #4bbcd7;
    }

    .banner-offer .banner-text {
        font-size: 35px;
        text-align: center;
    }


/**/
/* grid */
/**/
.columns-row {
	margin: 0 -15px;
}
.columns-row:after {
	content: '';
	display: table;
	clear: both;
}
.columns-col {
	float: left;
	padding: 0 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.columns-col-3 {
	width: 25%;
}
.columns-col-4 {
	width: 33.33%;
}
.columns-col-6 {
	width: 50%;
}
.columns-col-8 {
	width: 66.66%;
}
.columns-col-9 {
	width: 75%;
}
.columns-col-12 {
    width: 100%;
}
@media screen and (max-width: 980px){ /* pad */
	.columns-col {
		width: 100%;
	}
	.columns-col + .columns-col {
		margin-top: 30px;
	}
}

/**/
/* Button */
/**/
.grid-buttons>* {
	margin-bottom: 20px;
}
.cws-button {
	padding: 10px 20px;
	min-width: 144px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 2px solid #f27c66;
	background-color: #f27c66;
	line-height: 16px;
	font-size: 15px;
	font-weight: 500;
	color: #ffffff;
	text-align: center;
	display: inline-block;
	white-space: nowrap;
	cursor: pointer;
	text-decoration: none;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.cws-button.smaller {
	font-size: 11px;
	line-height: 15px;
	padding: 7px 15px;
	min-width: 85px;
}
.cws-button.small {
	line-height: 15px;
	padding: 8px 15px;
	font-size: 13px;
	min-width: 115px;
}
.cws-button.large {
	padding: 10px 20px;
	line-height: 21px;
	font-size: 17px;
	min-width: 175px;
}
.cws-button.alt-color:hover {
	color: #6aa2de;
}
.cws-button.alt,
.cws-button[class*="bt-color-"].alt {
	background: transparent;
	color: #595959;
}

.cws-button.alt:hover{
	background-color: #f27c66;
	color: #ffffff !important;
}

    .cws-button.bt-color-2 {
        border-color: #ffc25d;       
    }
.cws-button.bt-color-3 {
	border-color: #18bb7c;
}
.cws-button.bt-color-4 {
	border-color: #4bbcd7;
}
.cws-button.bt-color-5 {
	border-color: #b0b0b0;
}
.cws-button.bt-color-6 {
	border-color: #5f5f5f;
}
.cws-button.alt.bt-color-2:hover,
.cws-button.bt-color-2 {
	background-color: #ffc25d;
}
.cws-button.alt.bt-color-3:hover,
.cws-button.bt-color-3 {
	background-color: #18bb7c;
}
    .cws-button.alt.bt-color-4:hover,
    .cws-button.bt-color-4 {
        background-color: #4bbcd7;
    }
	.cws-button.alt.bt-color-5:hover,
	.cws-button.bt-color-5 {
		background-color: #b0b0b0;
	}
.cws-button.white {
	border-color: #ffffff;
	background-color: transparent;
	color: #ffffff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.cws-button.white:hover {
	background-color: #ffffff;
	color: #f27c66;
}
.cws-button:hover {
	background: transparent;
	color: #595959;
}
.tp-caption .cws-button:hover {
	background: transparent;
	color: #fff;
}
.cws-button i {
	font-size: 24px;
    vertical-align: bottom;
    line-height: 16px;
    font-weight: 500;
}
.cws-button.icon-left i {
	margin-right: 7px;
}
.cws-button.icon-right i {
	margin-left: 7px;
}
.cws-button.float-right {
	float: right;
}

/**/
/* default color */
/**/

.bg-color-1 {
	background-color: #f27c66;
}
.bg-color-1alt {
	background-color: #d36c59;
}
.bg-color-2 {
    background-color: #ffc25d;
}
.bg-color-2alt {
	background-color: #e4ba83;
}
.bg-color-3 {
	background-color: #18bb7c;
}
.bg-color-3alt {
	background-color: #13a069;
}
.bg-color-4 {
	background-color: #4bbcd7;
}
.bg-color-4alt {
	background-color: #1992c1;
}
.bg-color-5 {
	background-color: #b0b0b0;
}
.bg-color-5alt {
	background-color: #969696;
}
.bg-color-6 {
	background-color: #5f5f5f;
}
.bg-color-6alt {
	background-color: #454545;
}

/**/
/* page header top */
/**/
header {
	position: relative;
	z-index: 1000;
	background-color: #272b31;
	background-image: url();
	background-size: cover;
	background-position: 0% 50%;
	background-repeat: no-repeat;
}
header.only-color {
	background-image: none;
}

.contact-page header {
	background-image: url();
	background-position: 0% 64%;
}
header:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #23272d;
	opacity: 0.7;
	z-index: -1;
}
.main-page header {
	background: none;
}


/**/
/* sticky menu */
/**/
.main-page .sticky-wrapper {
	position: absolute;
	width: 100%;
	height: 64px;
}
.sticky-menu.double-menu:not(.second-nav),
.sticky-menu.alt.mobile {
	background-color: transparent;
}
.sticky-menu {
	position: relative;
	z-index: 500;
	background-color: #ffffff;
	width: 100%;
	transition: height 0.3s, transform 0.3s;
	-ms-transition: height 0.3s, transform 0.3s;
	-moz-transition: height 0.3s, transform 0.3s;
	-webkit-transition: height 0.3s, transform 0.3s;
	position: relative;
	background-color: rgb(255, 255, 255);
	width: 100%;
	left: 0px;
}
.sticky-menu .logo {
	height: 72px;
	display: flex;
	margin: 14px 0;
	float: left;
	width: auto;
	transition: all 0.6s;
	-ms-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-webkit-transition: all 0.6s;
}
.sticky-menu .logo img {
	height: 100%;
	width: auto;
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
}
.sticky-menu .logo h1 {
	line-height: 61px;
	display: inline-block;
	vertical-align: middle;
	font-family: "Georgia";
	font-size: 36px;
	clear: none;
	color: #5f5f5f;
	margin: 0;
	transition: all 0.6s;
	-ms-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-webkit-transition: all 0.6s;
}
.sticky-menu.scrolling {
	position: fixed;
	top: 0px;
	left: 0;
	background-color: rgba(255, 255, 255, 0.952941);
	-webkit-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.24);
	-moz-box-shadow:    0px 4px 9px 0px rgba(0, 0, 0, 0.24);
	box-shadow:         0px 4px 9px 0px rgba(0, 0, 0, 0.24);
}
.sticky-menu.scrolling .logo {
	height: 58px;
	margin: 3px 0;
}
.sticky-menu.scrolling .logo h1 {
	font-size: 28px;
    line-height: 52px;
}
.main-nav ul {
	margin: 0;
}
.main-nav ul li {
	border-bottom: 0;
	padding: 0;
}
.main-nav ul li:before {
	display: none;
}
.main-nav {
	font-size: 16px;
	font-weight: 500;
	float: right;
}
.main-nav>ul>li {
	float: left;
	line-height: 100px;
	
}
.sticky-menu.double-menu:not(.second-nav) .main-nav:not(.mobile_nav)>ul>li {
	color: #ffffff;
}
.sticky-menu.double-menu:not(.second-nav) .logo h1,
.sticky-menu.alt.mobile .logo h1{
	color: #ffffff;
}
.sticky-menu.scrolling .main-nav>ul>li {
	line-height: 64px;
}
.main-nav>ul>li>a {
	display: block;
	padding-left: 20px;
}
.main-nav>ul>li>a:after {
	content: "|";
	padding-left: 20px;
	color: #dfdfdf;
	font-size: 1em;
}
.main-nav>ul>li:last-child>a:after {
	display: none;
}
@media screen and (max-width: 479px) {
	.sticky-menu .logo h1 {
		line-height: 45px;
		font-size: 22px;
	}
	.sticky-menu .logo {
		height: 50px;
	}

}


/**/
/* main menu pc */
/**/
.main-nav>ul>li>ul {
	position: absolute;
	left: -999999px;
	opacity: 0;
	z-index: 1;
	-webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
}
.sticky-menu .grid-row {
	position: relative;
	z-index: 1;
}
.megamenu {
	position: inherit;
}
.main-nav ul ul {
	z-index: 1;
	border-top: 2px solid #f27c66;
	background-color: #ffffff;
    border-bottom-right-radius: 4px;
    -ms-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -ms-border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
}
.main-nav .megamenu ul ul {
	background: inherit;
}

.main-nav>ul>li ul li:last-child {
	border: 0;
}
.main-nav ul li:hover ul {
	z-index: 2;
}
.main-nav>ul>li:hover>ul{
	left: 0;
	opacity: 1;
}
.main-nav>ul>li>ul a {
	display: block;
	padding: 2px 25px;
	white-space: nowrap;
}
.main-nav>ul>li>ul a:before{
	font-family: FontAwesome;
	content: "\f111";
	font-size: 5px;
	color: #f27c66;
	vertical-align: middle;
	padding-right: 5px;
}

/**/
/* menu bar */
/**/
.main-nav.switch-menu .menu-bar {
	position: relative;
	width: 44px;
	height: 44px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
	text-align: center;
}
.main-nav.switch-menu.mobile_nav .menu-bar {
	display: none;
}
.main-nav.switch-menu>ul {
	display: inline-block;
	vertical-align: middle;
}
.main-nav.switch-menu .menu-bar .ham {
	display: inline-block;
    width: 23px;
    height: 2px;
    position: relative;
    vertical-align: bottom;
    background: #ffffff;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}
.items-visible  .menu-bar .ham {
    background-color: transparent!important;
}
.menu-bar .ham:after, .menu-bar .ham:before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 23px;
    height: 2px;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
    outline: 1px solid transparent;
    left: 0;
    background: #ffffff;
}
.menu-bar .ham:before {
    top: -8px;
}
.menu-bar .ham:after {
    top: 8px;
}
.items-visible .menu-bar .ham:before {
    -webkit-transform: translateY(8px) rotateZ(-45deg);
    -moz-transform: translateY(8px) rotateZ(-45deg);
    -ms-transform: translateY(8px) rotateZ(-45deg);
    -o-transform: translateY(8px) rotateZ(-45deg);
    transform: translateY(8px) rotateZ(-45deg);
}
.items-visible .menu-bar .ham:after {
    -webkit-transform: translateY(-8px) rotateZ(45deg);
    -moz-transform: translateY(-8px) rotateZ(45deg);
    -ms-transform: translateY(-8px) rotateZ(45deg);
    -o-transform: translateY(-8px) rotateZ(45deg);
    transform: translateY(-8px) rotateZ(45deg);
}
.main-nav.switch-menu>ul>li {
    visibility: hidden;
    zoom: 1;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transition: all 0ms cubic-bezier(.175,.885,.525,1.2);
    -moz-transition: all 0ms cubic-bezier(.175,.885,.525,1.2);
    -o-transition: all 0ms cubic-bezier(.175,.885,.525,1.2);
    transition: all 0ms cubic-bezier(.175,.885,.525,1.2);
    -webkit-transition-duration: 150ms;
    -moz-transition-duration: 150ms;
    -o-transition-duration: 150ms;
    transition-duration: 150ms;
}
.main-nav.switch-menu.mobile_nav>ul>li {
	-webkit-opacity: 1;
    -moz-opacity: 1;
	opacity: 1;
	visibility: visible;
}
.main-nav.switch-menu.items-visible>ul>li {
    visibility: visible;
    top: 0;
    zoom: 1;
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.main-nav.switch-menu.items-visible>ul>li:nth-last-child(n+1) {
    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
    -o-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-delay: 60ms;
    -moz-transition-delay: 60ms;
    -o-transition-delay: 60ms;
    transition-delay: 60ms;
}
.main-nav.switch-menu.items-visible>ul>li:nth-last-child(n+2) {
    -webkit-transition-duration: 350ms;
    -moz-transition-duration: 350ms;
    -o-transition-duration: 350ms;
    transition-duration: 350ms;
    -webkit-transition-delay: 120ms;
    -moz-transition-delay: 120ms;
    -o-transition-delay: 120ms;
    transition-delay: 120ms;
}
.main-nav.switch-menu.items-visible>ul>li:nth-last-child(n+3) {
    -webkit-transition-duration: 450ms;
    -moz-transition-duration: 450ms;
    -o-transition-duration: 450ms;
    transition-duration: 450ms;
    -webkit-transition-delay: 180ms;
    -moz-transition-delay: 180ms;
    -o-transition-delay: 180ms;
    transition-delay: 180ms;
}
.main-nav.switch-menu.items-visible>ul>li:nth-last-child(n+4) {
    -webkit-transition-duration: 550ms;
    -moz-transition-duration: 550ms;
    -o-transition-duration: 550ms;
    transition-duration: 550ms;
    -webkit-transition-delay: 240ms;
    -moz-transition-delay: 240ms;
    -o-transition-delay: 240ms;
    transition-delay: 240ms;
}
.main-nav.switch-menu.items-visible>ul>li:nth-last-child(n+5) {
    -webkit-transition-duration: 650ms;
    -moz-transition-duration: 650ms;
    -o-transition-duration: 650ms;
    transition-duration: 650ms;
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
.main-nav.switch-menu.items-visible>ul>li:nth-last-child(n+6) {
    -webkit-transition-duration: 750ms;
    -moz-transition-duration: 750ms;
    -o-transition-duration: 750ms;
    transition-duration: 750ms;
    -webkit-transition-delay: 360ms;
    -moz-transition-delay: 360ms;
    -o-transition-delay: 360ms;
    transition-delay: 360ms;
}
.main-nav.switch-menu>ul>li:nth-child(n+1) {
    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
    -o-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-delay: 60ms;
    -moz-transition-delay: 60ms;
    -o-transition-delay: 60ms;
    transition-delay: 60ms;
}
.main-nav.switch-menu>ul>li:nth-child(n+2) {
    -webkit-transition-duration: 350ms;
    -moz-transition-duration: 350ms;
    -o-transition-duration: 350ms;
    transition-duration: 350ms;
    -webkit-transition-delay: 120ms;
    -moz-transition-delay: 120ms;
    -o-transition-delay: 120ms;
    transition-delay: 120ms;
}
.main-nav.switch-menu>ul>li:nth-child(n+3) {
    -webkit-transition-duration: 450ms;
    -moz-transition-duration: 450ms;
    -o-transition-duration: 450ms;
    transition-duration: 450ms;
    -webkit-transition-delay: 180ms;
    -moz-transition-delay: 180ms;
    -o-transition-delay: 180ms;
    transition-delay: 180ms;
}
.main-nav.switch-menu>ul>li:nth-child(n+4) {
    -webkit-transition-duration: 550ms;
    -moz-transition-duration: 550ms;
    -o-transition-duration: 550ms;
    transition-duration: 550ms;
    -webkit-transition-delay: 240ms;
    -moz-transition-delay: 240ms;
    -o-transition-delay: 240ms;
    transition-delay: 240ms;
}
.main-nav.switch-menu>ul>li:nth-child(n+5) {
    -webkit-transition-duration: 650ms;
    -moz-transition-duration: 650ms;
    -o-transition-duration: 650ms;
    transition-duration: 650ms;
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
.main-nav.switch-menu>ul>li:nth-child(n+6) {
    -webkit-transition-duration: 750ms;
    -moz-transition-duration: 750ms;
    -o-transition-duration: 750ms;
    transition-duration: 750ms;
    -webkit-transition-delay: 360ms;
    -moz-transition-delay: 360ms;
    -o-transition-delay: 360ms;
    transition-delay: 360ms;
}

/**/
/* mobile menu */
/**/
.main-nav .mobile_menu_switcher {
	display: none;
	width: 44px;
    height: 44px;
    background: #f27c66;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    -webkit-font-smoothing: none;
    cursor: pointer;
}
.main-nav.mobile_nav .mobile_menu_switcher{
	display: block;
	z-index: 6;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.mobile_nav .button_open {
	width: 44px;
	text-align: center;
}
.mobile_nav .button_open:before {
    font-family: FontAwesome;
    content: "\f105";
}
nav.main-nav.mobile_nav ul {
    position: absolute;
    z-index: 5;
    top: calc(50% - 22px);
    top: -moz-calc(50% - 22px);
    right: 0;
    display: none;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
}
nav.main-nav.mobile_nav.opened ul {
    display: block;
}
.mobile_nav>ul, .mobile_nav ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    min-width: 200px;
}
.mobile_nav .megamenu {
	position: relative;
}
.mobile_nav img {
	display: none;
}
.mobile_nav  {
	padding: 0 0 0 20px;
}
.mobile_nav li {
	display: table;
	background-color: #ffffff;
	width: 100%;
	line-height: 44px !important;
	float: none !important;
}
.main-nav.mobile_nav li>a:after {
	display: none;
}
.mobile_nav li + li {
	margin-top: 1px;
}
.mobile_nav li>a, .mobile_nav li>.button_open {
	display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}
.main-nav ul>.back {
	display: none;
	background-color: #4bbcd7;
	color: #ffffff;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 500;
	border-top-left-radius: 10px;
	-ms-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
}

.main-nav ul>.back a:before{
	content: "";
	font-size: 19px;
	font-family: FontAwesome;
    content: "\f104";
    padding-right: 10px;
}
.mobile_nav .mobile_menu_switcher:before {
    font-family: FontAwesome;
    content: "\f039";
}
.mobile_nav.opened .mobile_menu_switcher:before {
    content: "\f00d";
}
.mobile_nav {
	background-color: transparent;
	color: inherit;
	line-height: inherit;
	font-weight: inherit;
}

/**/
/* footer */
/**/
footer {
	background-color: #2d3339;
	line-height: 24px;
}
footer p {
	font-family: "Helvetica";
	font-size: 14px;
	color: #b0b0b0;
	line-height: 23px;
}
footer h2 {
	font-size: 18px;
	color: #f7f7f7;
	text-transform: uppercase;
	font-weight: 700;
	background-color: #f27c66;
	padding: 17px 15px 13px 10px;
	margin-bottom: 30px;
	margin-top: 0px;
	box-shadow: 0 1px 0px rgba(0,0,0,0.24);
}
footer h2:before{
	float: right;
	font-family: FontAwesome;
	color: #2d3339;
	line-height: 25px; 
	font-size: 25px;
}


footer .copyright span:before {
	content: " \00a9 ";
}
.footer-bottom {
	background-color: rgba(0,0,0,0.23);
	color: #ffffff;
	margin-top: 30px;
}
.footer-bottom .copyright {
	float: left;
	line-height: 60px;
	font-size: 13px;
}
.footer-nav ul {
	margin: 0;
	font-size: 14px;
}
.footer-nav ul li {
	border-bottom: 0;
	padding: 0;
}
.footer-nav ul li:before {
	display: none;
}
.footer-nav {
	float: right;
}
.footer-nav>ul>li{
	float: left;
	line-height: 60px;
}
.footer-nav>ul>li>a:after{
	content: "|";
	color: #8f96a2;
	margin-left: 18px;
}
.footer-nav>ul>li:last-child>a:after{
	display: none;
}
.footer-nav a{
	display: block;
	color: #ffffff;
	padding-left: 18px;
}
nav a:hover,
nav a.active,
.mobile_nav .active {
	color: #f27c66;
}
@media screen and (max-width: 768px) {
	.footer-bottom .copyright {
		float: none;
		line-height: 40px;
	}
	.footer-nav {
		float: none;
		text-align: center;
	}
	.footer-nav>ul>li {
		line-height: 40px;
	}
	.footer-bottom .grid-row {
		text-align: center;
	}
	.footer-nav ul {
		display: inline-block;
	}
}
@media screen and (max-width: 479px) {
	.footer-nav>ul>li {
		line-height: 30px;
	}
	footer h2 {
		padding: 17px 10px 13px 10px;
	}
}


/**/
/* login */
/**/
input[type="text"],
input[type="password"] {
	border: 1px solid #e6e6e6;
	line-height: 34px;
	height: 36px;
	padding: 0 12px;
	font-size: 14px;
	color: #595959;
	width: 100%;
	transition: all 0.3s;
	-ms-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.form-group .input-icon {
	position: relative;
}
.form-group .input-icon input {
	text-indent: 18px;
}
.form-group .input-icon i {
	position: absolute;
	top: 0;
	left: 0;
	line-height: 34px;
	text-align: center;
	width: 30px;
}


.input_search input[type="text"]:hover,
input[type="text"]:focus {
	border-color: #b0b0b0;
}


input[type="text"]:hover,
input[type="text"]:focus {
	border-color: #b0b0b0;
}
input[type="text"][disabled] {
	background-color: #f2f2f2;
}
/*.has-success input {
	border-color: #18bb7c;
	color: #18bb7c;
}
.has-warning input {
    border-color: #ffc25d;
    color: #ffc25d;
}
.has-error input {
	border-color: #f27c66;
	color: #f27c66;
}*/


/*
/* current */
/**/
.current {
	height:430px;
    border: 1px solid #e6e6e6;
    border-top: 2px solid #ffc25d;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    /*text-align: left;*/
    padding-top: 20px;
}
    .current h4 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        font-family: "Montserrat Alternates";
        color: #f27c66;
    }
    .current h5 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        font-family: "Montserrat Alternates";
        color: #ffc25d;
    }
    .current h6 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        font-family: "Montserrat Alternates";
        color: #18bb7c;
    }

.current .current-logo {
	background-color: #ffc25d;
	position: relative;
	width: 120px;
	height: 120px;
	margin: 10px auto 20px auto;
	border: 1px solid #ffc25d;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	z-index: 1;
	transition: all 0.4s;
	-ms-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
}
.current-logo i {
	font-size: 60px;
	line-height: 120px;
	position: relative;
	color: #ffffff;
	z-index: 2;
	transition: all 0.4s;
	-ms-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
}
.current:hover .current-logo i {
	color: #ffc25d;
}
.current .info-block {
	position: relative;
	padding: 20px 35px;
}

.current .info-block:before{
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	background-color: #ffc25d;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	width: 60%;
	height: 2px;
	transition: all 0.4s;
	-ms-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
}

.current.color-1 {
    border-top-color: #f27c66;
}
.current.color-1 .info-block:before,
.current.color-1 .current-logo{
	background-color: #f27c66;
}
.current.color-1:hover .current-logo i
{
	color: #f27c66;
}
.current.color-1 .current-logo {
	border-color: #f27c66;
}


.current.color-2 {
	border-top-color: #18bb7c;
	background-color: rgba(255,255,255,0.8);
}
.current.color-2 .info-block:before,
.current.color-2 .current-logo{
	background-color: #18bb7c;
}
.current.color-2:hover .current-logo i
{
	color: #18bb7c;
}
.current.color-2 .current-logo {
	border-color: #18bb7c;
}
.current:hover .current-logo {
	background: transparent !important;
}


/**/
/* border radius */
/**/
.page_pagination a:first-child,
.blog-post .post-info,
.header-pt {
	border-top-left-radius: 10px;
	-ms-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
}

.widget-search form input[type='search'],
.page_pagination a:last-child,
.service-alt,
.widget-search form .search-submit {
	border-bottom-right-radius: 10px;
	-ms-border-bottom-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

p.paragraph-border:first-letter,
p.paragraph-background:first-letter,
.info-boxes .info-box-icon,
.tabs .container-tabs>img,
.cws-button.border-radius,
.link-cont a,
.widget-event .date,
.widget-navigation>ul,
#flickr-badge li
{
	border-top-left-radius: 10px;
	-ms-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-ms-border-bottom-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

.grid-col-4 .carousel-button .prev,
.content-title:after {
	border-top-left-radius: 5px;
	-ms-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
}

.grid-col-4,
.content-title:after,
.title .button-back i{
	border-bottom-right-radius: 5px;
	-ms-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}
/**/
/* rezult search */
/**/
.result_search {
    margin: 25px 35px;
    border: 1px solid #ffc25de6;
    border-radius: 10px;
    border-radius: 10px;
}

    .result_search td {
        padding: 5px 10px;
        text-align: center;
        border-bottom: 1px solid #ffc25de6;
        transition: all 0.5s linear;
    }
.result_search td:first-child {
text-align: left;
color: #3D3511;
font-weight: bold;
}
    .result_search th {
        padding: 5px 10px;
        color: #ffffff;
        font-weight: 500;
        border-bottom: 2px solid #ffc25de6;
        background: #ffc25de6;
    }

	.result_search tr:hover td {
		background: #f27c66;
		/*font-weight: 600;*/
		color: #ffffff;
	}

/**/
/* rezult_search_1 */
/**/
.result_search_1 {
	margin: 25px 35px;
	border: 1px solid #18bb7c;
	border-radius: 10px;
	border-radius: 10px;
}

	.result_search_1 td {
		padding: 5px 10px;
		text-align: center;
		border-bottom: 1px solid #18bb7c;
		transition: all 0.5s linear;
	}

		.result_search_1 td:first-child {
			text-align: left;
			color: #3D3511;
			font-weight: bold;
		}

	.result_search_1 th {
		padding: 5px 10px;
		color: #ffffff;
		font-weight: 500;
		border-bottom: 2px solid #18bb7c;
		background: #18bb7c;
	}

	.result_search_1 tr:hover td {
		background: #ffc25d;
		color: #ffffff;
	}


/**/
/* rezult_search_login */
/**/
.result_search_login {
    margin: 15px 15px;
    border: 1px solid #4bbcd7;
    border-radius: 10px;
}

    .result_search_login td {
        padding: 5px 10px;
        text-align: center;
        border-bottom: 1px solid #4bbcd7;
        transition: all 0.5s linear;
    }

        .result_search_login td:first-child {
            text-align: left;
            color: #3D3511;
            font-weight: bold;
        }

    .result_search_login th {
        padding: 5px 5px;
        color: #ffffff;
        font-weight: bold;
        border-bottom: 2px solid #4bbcd7;
        background: #1992c1;
    }

    /*.result_search_login tr:hover td {
        background: #ffc25d;
        font-weight: bold;
        color: #2f2f2f;
    }*/
.print {
    color: #4bbcd7;
    text-align: center;
    vertical-align: middle;
}
    .print:hover {
        color: #1992c1;
        font-weight: bold;
    }
/**/
/* page_pagination */
/**/
.page_pagination {
    text-align: center;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 15px;
}

    .page_pagination a {
        display: block;
        float: left;
        width: 40px;
        height: 40px;
        border: 1px solid #f2f2f2;
        border-right: 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        line-height: 38px;
        color: #333e4f;
    }

        .page_pagination a:last-child {
            border-right: 1px solid #f2f2f2;
        }

        .page_pagination a:last-child,
        .page_pagination a:first-child {
            color: #5f5f5f;
            background-color: #f2f2f2;
            font-size: 30px;
        }

		.page_pagination a.active {
			background-color: #5f5f5f;
			color: #ffffff;
			border-color: #5f5f5f;
		}

		.page_pagination a:hover {
			background-color: #5f5f5f;
			color: #ffffff;
			border-color: #f2f2f2;
		}


/**/
/* blog post */
/**/
.blog-post {
    margin-bottom: 40px;
}

    .blog-post p a,
    article p a {
        font-family: "Arial";
        text-decoration: none;
    }

        .blog-post p a:before {
            content: "\2192";
        }

.grid-col-4 .blog-post {
    margin-bottom: 30px;
}

.blog-post .tags-post {
    float: right;
    color: #f27c66;
    font-size: 13px;
    line-height: 40px;
}

    .grid-col-4 .blog-post .tags-post,
    .blog-post .tags-post:last-child {
        float: none;
        line-height: 20px;
    }

    .blog-post .tags-post a {
        display: inline-block;
        line-height: 20px;
    }

        .blog-post .tags-post a + a {
            margin-left: 10px;
            border-left: 1px solid #f27c66;
        }

.blog-post h3 {
    font-size: 18px;
    font-weight: 500;
}

.blog-post .post-info {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    background-color: #f27c66;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
}

.blog-post article > p {
    margin-bottom: 25px;
}

.grid-col-4 .blog-post article > p {
    margin-bottom: 10px;
}

.post-info .date-post {
    width: 70px;
    height: 53px;
    background-color: #b0b0b0;
}

    .post-info .date-post .day {
        font-size: 25px;
        font-weight: 500;
        height: 50%;
        line-height: 33px;
    }

    .post-info .date-post .month {
        font-size: 13px;
        height: 50%;
    }

.post-info .comments-post {
    width: 53px;
    line-height: 53px;
    height: 53px;
    background-color: #f9cb8f;
}

.post-info .news {
    flex: 1;
    font-size: 25px;
    display: inline-block;
}


.tags-post a:before {
    content: "\f02b";
    padding-left: 10px;
    font-size: 16px;
    vertical-align: middle;
}

.tags-post a:first-child:before {
    padding-left: 0;
    content: "\f02e";
}

.blog-post + hr {
    margin-top: 20px;
    margin-bottom: 40px;
}

hr + .comments {
    margin-top: 30px;
}

.post-info-main {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    vertical-align: middle;
    display: inline-block;
}

.blog-media + p {
    margin-top: 10px;
}

@media screen and (max-width: 390px) {
    .blog-post .tags-post {
        float: none;
        text-align: center;
    }

    .blog-post .cws-button {
        display: block !important;
        margin: 0 auto;
        width: 120px;
        clear: both;
    }
}

/**/
/* page 404 */
/**/
.container-404 {
	text-align: center;
	margin: 70px 0 110px 0;
	font-family: "Merriweather";
}

	.container-404 .number {
		color: #b0b0b0;
		font-size: 250px;
		line-height: 1;
		margin-bottom: 30px;
	}

	.container-404 p {
		color: #b0b0b0;
		font-size: 27px;
		line-height: 40px;
		margin-bottom: 25px;
		font-weight: 300;
	}

		.container-404 p span {
			color: #f27c66;
			font-weight: 700;
		}

	.container-404 .number span {
		display: inline-block;
		background-color: #f27c66;
		color: #ffffff;
		line-height: 0.83;
		vertical-align: bottom;
		padding: 0 20px;
		border-top-left-radius: 30px;
		-ms-border-top-left-radius: 30px;
		-moz-border-top-left-radius: 30px;
		-webkit-border-top-left-radius: 30px;
		border-bottom-right-radius: 30px;
		-ms-border-bottom-right-radius: 30px;
		-moz-border-bottom-right-radius: 30px;
		-webkit-border-bottom-right-radius: 30px;
	}

	.container-404 .cws-button {
		white-space: inherit;
	}

@media screen and (max-width: 479px) { /* phone */
	.container-404 .number {
		font-size: 100px;
	}

		.container-404 .number span {
			padding: 0 10px;
		}
}
/**/
/* quotes */
/**/
.post-info + .quotes {
    margin-top: 20px;
}

.post-info + .video-player  ,
.post-info + .full-width-slider {
    border-top-left-radius: 0;
    -ms-border-top-left-radius: 0;
    -moz-border-top-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    border-top-right-radius: 0;
    -ms-border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
    -webkit-border-top-right-radius: 0;
}

.quote-item {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
}

    .quote-item:last-child {
        border: 0;
        margin-bottom: 0;
    }


.quotes-carousel .owl-carousel {
    clear: both;
}

.select_category,
.select_teacher {
    text-indent: 0.01px;
    -moz-appearance: none;
    text-overflow: "";
}
select_year {
	width: 100px;
}

.add-author  {
   margin: 5px;
}

/**/
/* widget event */
/**/
.widget-event .date {
    width: 80px;
    height: 60px;
    line-height: 30px;
    float: left;
    background-color: #ebebeb;
    text-align: center;
    margin-right: 8px;
    overflow: hidden;
    color: #5f5f5f;
}
    .widget-event .date .day {
        background-color: #1992c1;
        color: #ffffff;
        font-size: 24px;
    }

.widget-event .event-description span {
    padding-bottom: 8px;
    display: block;
    line-height: 1;
    color: #18bb7c;
}

.event-description p {
    margin-bottom: 0;
}

/**/
/* widget comments*/
/**/
.widget-comments {
    position: relative;
    padding-left: 30px;
    padding-bottom: 3px;
}

    .widget-comments:before {
        content: '\2191';
        font-family: "Arial";
        font-size: 55px;
        position: absolute;
        left: 0;
        top: 0px;
        line-height: 40px;
        width: 30px;
        text-align: center;
        height: 30px;
        color: #ffffff;
        background-color: #1992c1;
        display: inline-block;
    }

    .widget-comments .date {
        display: inline-block;
        color: #1992c1;
    }

    .widget-comments  .author {
        display: inline-block;
        color: #333333;

    }

.widget-comments .comments {
    margin-top: 0;
}

.widget-comments .comment {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
}


/**/
/* checkbox */
/**/

.checkbox_search {
   display: inline-block; 
  position: relative;
  cursor: pointer;
  width: 50%;
  float: left;

}
.checkbox_search input[type="checkbox"] {
	display: none;
}
.checkbox_search label {
	padding-left: 25px;
	display: inline;
	cursor: pointer;
	width: 18px;
	height: 18px;
	text-align: center;
	left: 0;
}

	/*.checkbox_search label:hover {
		color: #18bb7c;
	}*/

	.checkbox_search label:before {
		border: 1px solid #18bb7c;
		display: block;
		content: " ";
		font-family: FontAwesome;
		color: #18bb7c;
		width: 18px;
		height: 18px;
		line-height: 18px;
		position: absolute;
		background: rgba(0, 0, 0, 0);
		vertical-align: middle;
		text-align: center;
		text-indent: 0px;
	}



.checkbox_search input[type=checkbox]:checked + label:before {
	content: "\f00c";
	border-color: #18bb7c;
}

.checkbox_search input[disabled] + label:before, input[disabled] + label {
	border-color: #18bb7c !important;
	color: #ffffff;
	background-color: #e6e6e6;
}

.treatment {
	margin-top: 15px;
	margin-right: 15px;
}

.checkbox_treatment {
	display: inline-block;
	position: relative;
	cursor: pointer;
	float: left;
}
	.checkbox_treatment input[type="checkbox"] {
		display: none;
	}
.checkbox_treatment label {
	padding-left: 25px;
	display: inline;
	cursor: pointer;
	width: 18px;
	height: 18px;
	text-align: center;
	left: 0;
}

	.checkbox_treatment label:hover {
		text-decoration: underline;
	}

	.checkbox_treatment label:before {
		border: 1px solid #4bbcd7;
		display: block;
		content: " ";
		font-family: FontAwesome;
		color: #4bbcd7;
		width: 18px;
		height: 18px;
		line-height: 18px;
		position: absolute;
		background: rgba(0, 0, 0, 0);
		vertical-align: middle;
		text-align: center;
		text-indent: 0px;
	}


.checkbox_treatment input[type=checkbox]:checked + label:before {
	content: "\f00c";
	border-color: #4bbcd7;
}

.checkbox_treatment input[disabled] + label:before, input[disabled] + label {
	border-color: #4bbcd7 !important;
	color: #ffffff;
	background-color: #e6e6e6;
}

/**/
/* text_long */
/**/

.text_long {
	margin-top: 15px;
	margin-right: 15px;
	width: 880px !important
}

/**/
/* add_publ */
/**/

.add_publ:hover,
.add_publ:focus {
	border-color: #f27c66 !important;
}

.add_publ textarea:hover,
textarea:focus {
	border-color: #f27c66;
}

/**/
/* Tabs */
/**/
.tabs {
	width: 1180px;
	padding: 0 25px 0 25px;
	margin: 15px auto;
}

.block-tabs-btn {
    margin-bottom: -1px;
}

.picture + .tabs {
    margin-top: 40px;
}

hr + .tabs {
    margin: 50px 0;
}
.button_tabs {
	float: right;
	margin: 10px 100px 15px 0px;
}


.tabs .tabs-btn {
	float: left;
	height: 40px;
	padding: 0 55px;
	line-height: 40px;
	text-align: center;
	font-size: 0.928em;
	cursor: pointer;
	border-left: 1px solid #E6E6E6;
	border-right: 1px solid #E6E6E6;
	border-top: 2px solid #E6E6E6;
	border-top-left-radius: 2px;
	-ms-border-top-left-radius: 2px;
	-moz-border-top-left-radius: 2px;
	-webkit-border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	-ms-border-top-right-radius: 2px;
	-moz-border-top-right-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	transition: all 0.3s;
	-ms-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.tabs-btn + .tabs-btn {
    margin-left: 5px;
}


.tabs-btn.active {
	border-top-color: #4bbcd7;
	color: #333333;
	background-color: #ffffff;
}

    .tabs-btn.active span {
        background-color: #6aa2de;
        color: #ffffff;
    }

.tabs .container-tabs:not(.active) {
    display: none;
}

.tabs .tabs-keeper {

    padding-left: 25px;
	padding-top: 20px;
    border: 1px solid #E6E6E6;
}

.tabs .container-tabs > img {
    float: left;
    border: 1px solid #cfcfcf;
    padding: 3px;
    background-color: #ffffff;
    margin-right: 18px;
}

.tabs h6 {
    margin-top: 0;
    clear: none;
}

@media screen and (max-width: 980px) {
    .tabs .tabs-btn {
        padding: 0 20px;
    }

    .container-tabs .columns-col.columns-col-4 {
        width: 33.33%;
        margin-top: 0;
    }
}

@media screen and (max-width: 767px) {
    .tabs .tabs-btn {
        padding: 0 6px;
    }
}

@media screen and (max-width: 480px) {
    .container-tabs .columns-col.columns-col-4 {
        width: 100%;
    }

        .container-tabs .columns-col.columns-col-4 .count-of {
            width: 49%;
            display: inline-block;
        }

    .tabs .tabs-btn {
        float: none;
        margin-left: 0 !important;
    }
}

.edit:before {
    content: "\270E";
}




/**/
/* contact form */
/**/
.contact-form input[name="email"]::-webkit-input-placeholder:after,
.contact-form input[name="name"]::-webkit-input-placeholder:after {
	content: "*";
	font-size: 25px;
	line-height: 15px;
	color: red;
	margin-left: 1px;
}

.contact-form .cws-button {
	float: right;
}

.contact-form input[name="email"]::-moz-input-placeholder:after,
.contact-form input[name="name"]::-moz-input-placeholder:after {
	content: "*";
	color: red;
}
.widget-contact-form input[type='text'] {
	height: 38px;
}

.widget-contact-form input[type='text'],
.widget-contact-form textarea {
	border: 1px solid #e1e1e1;
	line-height: 36px;
	padding: 0 10px;
	width: 100%;
	margin-bottom: 10px;
	font-style: italic;
}

	.widget-contact-form input[type='text'].error,
	.widget-contact-form textarea.error {
		background-color: #f8bdb2;
	}

.widget-contact-form label span {
	color: #f27c66;
}



#spisok{
	height: 20px;
	line-height: 20px;
	padding: 0;
	/*for WebKit*/
	-webkit-appearance: none;
	/* for FF */
	-moz-appearance: none;
	text-indent: 0.01px; 
	text-overflow: '';
	/* for IE */
	-ms-appearance: none;
	appearance: none!important;
}

.col-2 table {
	border-top-left-radius: 12px;
	-ms-border-top-left-radius: 12px;
	-moz-border-top-left-radius: 12px;
	-webkit-border-top-left-radius: 12px;
	border-bottom-right-radius: 12px;
	-ms-border-bottom-right-radius: 12px;
	-moz-border-bottom-right-radius: 12px;
	-webkit-border-bottom-right-radius: 12px;
}

/* устанавливаем рисунок основы,
  ** опрделяем размеры и положение на экране  */
.envelope {
    border: 1px solid #e1e1e1;
    width: 590px;
    height: 150px;
    position: relative;
    display: none;
}
    .envelope h4 {
        padding: 10px 10px 10px 10px;
    }
/* формируем кнопку закрытия,
  ** размеры, положение на форме  */
.close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 20px;
    width: 20px;
}


/**/
/* form-row */
/**/

.form-row {
    float: left;
    width: 270px;
    margin-top: 15px;
    margin-right: 15px;
}

.form-row-select {
    margin-top: 20px;
    margin-right: 15px;
}

/*.form-row-select-1 {
    float: left;
    width: 300px;
    margin-top: 10px;
    margin-right: 5px;
}*/

.select_teacher {
	width: 240px;
}
.select_gender {
	width: 180px;
}


.form-row input:not([type="submit"]):not([type="checkbox"]) {
	width: 250px;
}
.form-row-first{
	float:left;
	width: 250px;
}
.form-row-last{
	width: 250px;
	margin-left:290px;
	margin-right: 5px;
}

/*select.filter.full-width {
    width: 100%;
    position: inherit !important;
}*/

/**/
/* clear */
/**/
.clear {
	clear: both;
}
/**/
/* add_users */
/**/
.add_users td {
	width: 315px;
}


.add_users:hover,
.add_users:focus {
	border-color: #4bbcd7 !important;
}

.add_users [type="password"]:hover,
input[type="password"]:focus {
	border-color: #4bbcd7;
}

/**/
/* course finder */
/**/
.course_finder h4 {
	float: none;
}

.course_finder select {
    height: 36px;
}

.course_finder select,
.course_finder textarea {
    line-height: 36px;
    padding: 0 0 0 10px;
    border: 1px solid #e1e1e1;
    color: inherit;
    display: initial;
}
.course_finder select:hover {
	border-color: #4bbcd7;
}

.course_year h4 {
	float: none;
}

.course_year select {
	height: 36px;
}

.course_year select,
.course_year textarea {
	line-height: 36px;
	padding: 0 0 0 10px;
	border: 1px solid #e1e1e1;
	color: inherit;
	display: initial;
}

	.course_year select:hover {
		border-color: #18bb7c;
	}



/**/
/* select_type */
/**/
.select_type h4 {
	float: none;
}

.select_type select {
	height: 36px;
	float: left
}

.select_type select,
.select_type textarea {
	line-height: 36px;
	padding: 0 0 0 10px;
	border: 1px solid #e1e1e1;
	color: inherit;
	display: initial;
}

	.select_type select:hover {
		border-color: #f27c66;
	}

/**/
/* add author */
/**/
.add_author {
	margin: 0 ;
	background: #ffffff;
	/* padding: 0px 25px 15px 25px; */
	}
.add_author {
	display: block;
	margin:  0px auto;
	text-align: center;
}

.add_author {
	display: inline-block;
	color: #5f5f5f;
	clear: none;
	margin: 0;
}

.add_author .form_add_author {
	position: relative;
}
.add_author .form_add_author + .form_add_author {
	margin-top: 15px;
}
.add_author .form_add_author input {
	width: 175px;
	padding-left: 10px;
    margin-left: 10px;
	line-height: 44px;
	height: 44px;
}
.add_author .form_add_author .input-icon {
	position: absolute ;
    right: 1px;
    top: 10px;
    width: 38px;
    height: 24px;
    text-align: right;
    border-left: 1px solid #ececec;
    color: #ccc;
    font-size: 18px;
    line-height: 24px;
    text-shadow: none;
}
.add_author .form_add_author .input-icon i {
	color: #ccc;
    font-size: 18px;
    line-height: 24px;
    width: 38px;
}
.add_author .small {
	font-size: 12px;
	margin-bottom: 20px;
}
.add_author .small a {
	color: #b0b1b0;
	text-decoration: none;
}

.add_author .form_add_author + .button-fullwidth {
	margin-top: 40px;
}
.add_author .button-fullwidth {
	width: 100%;
}
.add_author .button-fullwidth +  .button-fullwidth {
	margin-top: 10px;
}

.intro .small button {
	color: #b0b0b0;
	text-decoration: none;
}
	.button-fullwidth {
	width: 100%;
}

.btn_log {
	width:100px;
	margin-left:50px;
}
.b-popup{
    width:100%;
    min-height:100%;
    background-color: black;
    opacity: 0.7;
    overflow:hidden;
    position:fixed;
    top:0px;
    left:0px;
}
.b-popup .b-popup-content{
    margin:40px auto 0px auto;
    width:100px;
    height: 40px;
    padding:10px;
    background: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}
	